@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Ads
7. Products
8. Ad Extra Large
9. Icon Boxes
10. Newsletter
11. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/
.color_span{ 
background: #1b1b1b;
border: 1px solid black;
border-radius: 25px;
color: #FFFFFF;
padding: 3px;

}



.card {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.25rem;
  }
  
  .card > hr {
	margin-right: 0;
	margin-left: 0;
  }
  
  .card > .list-group:first-child .list-group-item:first-child {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
  }
  
  .card > .list-group:last-child .list-group-item:last-child {
	border-bottom-right-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
  }
  
  .card-body {
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 1.25rem;
  }
  
  .card-title {
	margin-bottom: 0.75rem;
  }
  
  .card-subtitle {
	margin-top: -0.375rem;
	margin-bottom: 0;
  }
  
  .card-text:last-child {
	margin-bottom: 0;
  }
  
  .card-link:hover {
	text-decoration: none;
  }
  
  .card-link + .card-link {
	margin-left: 1.25rem;
  }
  
  .card-header {
	padding: 0.75rem 1.25rem;
	margin-bottom: 0;
	background-color: rgba(0, 0, 0, 0.03);
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-header:first-child {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }
  
  .card-header + .list-group .list-group-item:first-child {
	border-top: 0;
  }
  
  .card-footer {
	padding: 0.75rem 1.25rem;
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  
  .card-footer:last-child {
	border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }
  
  .card-header-tabs {
	margin-right: -0.625rem;
	margin-bottom: -0.75rem;
	margin-left: -0.625rem;
	border-bottom: 0;
  }
  
  .card-header-pills {
	margin-right: -0.625rem;
	margin-left: -0.625rem;
  }
  
  .card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.25rem;
  }
  
  .card-img {
	width: 100%;
	border-radius: calc(0.25rem - 1px);
  }
  
  .card-img-top {
	width: 90%;
	height: 90%;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img-bottom {
	width: 100%;
	border-bottom-right-radius: calc(0.25rem - 1px);
	border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-deck {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
  }
  
  .card-deck .card {
	margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
	.card-deck {
	  -ms-flex-flow: row wrap;
	  flex-flow: row wrap;
	  margin-right: -15px;
	  margin-left: -15px;
	}
	.card-deck .card {
	  display: -ms-flexbox;
	  display: flex;
	  -ms-flex: 1 0 0%;
	  flex: 1 0 0%;
	  -ms-flex-direction: column;
	  flex-direction: column;
	  margin-right: 15px;
	  margin-bottom: 0;
	  margin-left: 15px;
	}
  }
  
  .card-group {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
  }
  
  .card-group > .card {
	margin-bottom: 15px;
  }
  
  @media (min-width: 576px) {
	.card-group {
	  -ms-flex-flow: row wrap;
	  flex-flow: row wrap;
	}
	.card-group > .card {
	  -ms-flex: 1 0 0%;
	  flex: 1 0 0%;
	  margin-bottom: 0;
	}
	.card-group > .card + .card {
	  margin-left: 0;
	  border-left: 0;
	}
	.card-group > .card:not(:last-child) {
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}
	.card-group > .card:not(:last-child) .card-img-top,
	.card-group > .card:not(:last-child) .card-header {
	  border-top-right-radius: 0;
	}
	.card-group > .card:not(:last-child) .card-img-bottom,
	.card-group > .card:not(:last-child) .card-footer {
	  border-bottom-right-radius: 0;
	}
	.card-group > .card:not(:first-child) {
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.card-group > .card:not(:first-child) .card-img-top,
	.card-group > .card:not(:first-child) .card-header {
	  border-top-left-radius: 0;
	}
	.card-group > .card:not(:first-child) .card-img-bottom,
	.card-group > .card:not(:first-child) .card-footer {
	  border-bottom-left-radius: 0;
	}
  }
  
  .card-columns .card {
	margin-bottom: 0.75rem;
  }
  
  @media (min-width: 576px) {
	.card-columns {
	  -webkit-column-count: 3;
	  -moz-column-count: 3;
	  column-count: 3;
	  -webkit-column-gap: 1.25rem;
	  -moz-column-gap: 1.25rem;
	  column-gap: 1.25rem;
	  orphans: 1;
	  widows: 1;
	}
	.card-columns .card {
	  display: inline-block;
	  width: 100%;
	}
  }
  
  .accordion > .card {
	overflow: hidden;
  }
  
  .accordion > .card:not(:first-of-type) .card-header:first-child {
	border-radius: 0;
  }
  
  .accordion > .card:not(:first-of-type):not(:last-of-type) {
	border-bottom: 0;
	border-radius: 0;
  }
  
  .accordion > .card:first-of-type {
	border-bottom: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
  }
  
  .accordion > .card:last-of-type {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
  }

  .accordion > .card .card-header {
	margin-bottom: -1px;
  }  
*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color:black;
}
img
{
    width: 200px;
    height: 200px;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 2.14;
	font-weight: 400;
	color: #6c6a74;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
p:last-of-type
{
	margin-bottom: 0;
}

a,a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	color: black;
}
a:hover
{
color:#b50000;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 36px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Open Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	width: 178px;
	height: 61px;
	background: none;
	text-align: center;
	border: solid 2px #1b1b1b;
	overflow: hidden;
	cursor: pointer;
}
.button a
{
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 600;
	line-height: 57px;
	color: #1b1b1b;
	background: none;
	z-index: 1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button::after
{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #FFFFFF;
    z-index: 0;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button:hover::after
{
	opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button_light
{
	border: solid 2px #FFFFFF;
}
.button_light a
{
	color: #FFFFFF;
}
.button:hover a
{
	color: #FFFFFF;
}
.button_light:hover a
{
	color: #1b1b1b;
}

/*********************************
3. Header
*********************************/

.header
{
	
	
}

.header_container
{
	width: 100%;
	
	background: #FFFFFF;
}
.header_content
{
	width: 100%;
	height: 130px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .header_content
{
	height: 70px;
}
.logo a
{
	font-size: 30px;
	font-weight: 900;
	color: #1b1b1b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .logo a
{
	font-size: 24px;
}
.main_nav
{
	margin-left: 156px;
}
.main_nav > ul > li
{
	display: inline-block;
	position: relative;
}
.main_nav > ul > li:not(:last-child)
{
	margin-right: 46px;
}
.main_nav > ul > li > a
{
	font-size: 16px;
	font-weight: 600;
	color: #767676;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.main_nav > ul > li > a:hover,
.main_nav > ul > li.active > a
{
	color: #1b1b1b;
}
.main_nav ul li.hassubs::after
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: calc(100% + 3px);
	font-family: 'FontAwesome';
	font-size: 10px;
	content: '\f078';
	color: #767676;
}
.main_nav ul li:hover::after,
.main_nav ul li.active::after
{
	color: #1b1b1b;
}




.shopping_cart
{
	display: inline-block;
	padding: 30px;
}
.shopping_cart a svg
{
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.shopping_cart a:hover svg,
.shopping_cart a:hover div
{
	fill: #e95a5a;
	color: #e95a5a;
}
.shopping_cart a div
{
	display: inline-block;
	vertical-align: middle;
	font-size: 14px;
	font-weight: 500;
	color: #1b1b1b;
	margin-left: 13px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.shopping_cart a div span
{
	margin-left: 4px;
}

.hamburger
{
	display: none;
	margin-left: 30px;
	cursor: pointer;
	margin-right: 4px;
	-webkit-transform: translateY(2px);
	-moz-transform: translateY(2px);
	-ms-transform: translateY(2px);
	-o-transform: translateY(2px);
	transform: translateY(2px);
}
.hamburger i
{
	font-size: 18px;
	color: #1b1b1b;
}





.fadeIn
{
	animation-delay: 1000ms;
}

/*********************************
6. Ads
*********************************/


/*********************************
7. Products
*********************************/

/*********************************
10. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #FFFFFF;
	padding-bottom: 99px;
	z-index: 2;
}
.newsletter_border
{
	width: 100%;
	border-top: solid 2px #e3e3e3;
}
.newsletter_content
{
	padding-top: 88px;
}
.newsletter_title
{
	font-size: 30px;
	font-weight: 500;
	color: #1b1b1b;
}
.newsletter_text
{
	margin-top: 8px;
}
.newsletter_form_container
{
	width: 100%;
	margin-top: 46px;
}
.newsletter_form
{
	width: 100%;
}
.newsletter_input
{
	width: 100%;
	height: 40px;
	border: none;
	border-bottom: solid 2px #787878;
	outline: none;
	text-align: center;
}
.newsletter_button
{
	position: relative;
	width: 178px;
	height: 61px;
	border: solid 2px #1b1b1b;
	background: #FFFFFF;
	cursor: pointer;
	margin-top: 55px;
	overflow: hidden;
}
.newsletter_button span
{
	display: block;
	position: relative;
	z-index: 10;
	font-size: 16px;
	font-weight: 600;
	color: #1b1b1b;
	background: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button::after
{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: #1b1b1b;
    z-index: 0;
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
    transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.newsletter_button:hover::after
{
	opacity: 1;
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
    transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.newsletter_button:hover span
{
	color: #FFFFFF;
}


